// 全局方法样式
#vm_message {
	transition: all ease .3s;
	padding: 10px  ;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  display: inline-block;
  pointer-events: all;
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 10px;
  -webkit-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  font-size: 13px;
  color: #898989;
  opacity: 0;
  &.with_icon {
    padding-left: 40px;
  }
  >i {
  	display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    left: 10px;
    &.icon-wink2 {
    	color: $green;
    }
    &.icon-neutral2 {
    	color: $orange;
    }
    &.icon-crying2 {
      color: $red;
    }
    &.icon-spinner2 {
      color: rgba(15, 15, 15, 0.5);
      &:before {
        display: block;
        @include turn-around(2s);
      }
    }
  }
  &.active {
  	top: 10px;
  	opacity: 1;
  	-webkit-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
  }
}

#vm_mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $mask_bg;
  display: none;
  &.active {
    display: block;
  }
}

#vm_alert {
  display: block;
  position: absolute;
  width: 440px;
  padding: 8px 15px;
  border-radius: 4px;
  box-sizing: border-box;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: all ease .15s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  >.close_btn {
    font-size: 10px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    position: absolute;
  }
  &.active {
    opacity: 1;
    top: 30%;
    transform: translate(-50%);
  }
  &.icon {
    padding-left: 50px;
    min-height: 47px;
    >.icon_flg {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 26px;
    }
  }
  &.info {
    background-color: rgb(230, 247, 255);
    border-color: rgb(145, 213, 255);
    border-image: initial;
    >.icon_flg {
      color: rgb(24, 144, 255);
    }
  }
  &.success {
    background-color: rgb(246, 255, 237);
    border-color: rgb(183, 235, 143);
    border-image: initial;
    >.icon_flg {
      color: rgb(82, 196, 26);
    }
  }
  &.error {
    background-color: rgb(255, 241, 240);
    border-color: rgb(255, 163, 158);
    border-image: initial;
    >.icon_flg {
      color: rgb(245, 34, 45);
    }
  }
  &.warn {
    background-color: rgb(255, 251, 230);
    border-color: rgb(255, 229, 143);
    border-image: initial;
    >.icon_flg {
      color: rgb(250, 173, 20);
    }
  }
}