// 全局方法样式
#vm_message {
	transition: all ease .3s;
	padding: 0 16px;
	height: 37px;
	line-height: 37px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  display: inline-block;
  pointer-events: all;
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 10px;
  -webkit-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  font-size: 13px;
  color: #898989;
  opacity: 0;
  >i {
  	display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    padding-right: 8px;
    &.icon-wink2 {
    	color: $green;
    }
    &.icon-neutral2 {
    	color: $orange;
    }
    &.icon-crying2 {
      color: $red;
    }
    &.icon-spinner2 {
      color: rgba(15, 15, 15, 0.5);
      &:before {
        display: block;
        @include turn-around(2s);
      }
    }
  }
  &.active {
  	top: 10px;
  	opacity: 1;
  	-webkit-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
  }
}

#vm_mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $mask_bg;
  display: none;
  &.active {
    display: block;
  }
}