@import './default.scss';
// @import './style.css';
@import '../plagin/global.scss';
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $placeholder_color;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $placeholder_color;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $placeholder_color;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $placeholder_color;
}